# Ignore all themes, but not the default "Neo" theme
themes/
!Neo/

# Ignore temporary SVG files (only for local development)
core/default/assets/map_*

# Ignore local GitHub Data
.github/

# Ignore Temporary files
temp/